<div class="imgUploader">
  <div class="custom-file">
    <input
      v-if="imgSrc==''"
      class=" custom-file-input"
      type="file"
      @change="processFile($event)"
    />
    <label
      v-if="imgSrc==''"
      class=" mx-3 custom-file-label"
      for="inputGroupFile01"
      >選擇上傳圖片</label
    >
    <div
      v-loading="imgSrc=='loading'"
      element-loading-text="努力載入中..."
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(255,255,255, 0.5)"
      :class=" imgSrc=='loading'?'py-5':''"
    ></div>
    <div v-if="imgSrc!='' && imgSrc!='loading'">
      <el-image :src="imgSrc">
        <div slot="placeholder" class="image-slot">
          快了快了快好了<span class="dot">...</span>
        </div>
      </el-image>
      <a
        href="javascript:;"
        class="btn btn-warning btn-block"
        @click="imgSrc='';"
        >重新上傳</a
      >
    </div>
  </div>
</div>
