<div class="history">
  <div
    class="animated slideInLeft btn-group btn-group-toggle pt-3"
    data-toggle="buttons"
  >
    <button
      @click="search=[];search.push('尚未付款')"
      class="btn btn-secondary active"
    >
      <i class="el-icon-thumb"></i>
      <input
        type="radio"
        name="options"
        id="option2"
        autocomplete="off"
        checked
      />
      未付款
    </button>
    <button
      @click="search=[];search.push('已付款，核實中');search.push('水果準備中');"
      class="btn btn-secondary"
    >
      <i class="el-icon-thumb"></i>
      <input type="radio" name="options" id="option3" autocomplete="off" />
      已付款
    </button>

    <button
      @click="search=[];search.push('出貨摟～')"
      class="btn btn-secondary"
    >
      <i class="el-icon-thumb"></i>
      <input type="radio" name="options" id="option5" autocomplete="off" />
      已出貨
    </button>
  </div>
  <p class="mt-2 ml-2">
    <b> ↑若下方無顯示資訊，請點擊上方列表 </b><br />
    <b>切換查詢訂單狀態</b>
  </p>
  <div
    v-loading="loading"
    element-loading-text="努力載入中..."
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(255,255,255, 0.5)"
    v-if="search.length!=0"
    :class="myHistoryList == 'loading'?'py-5':''"
  >
    <div v-if="!loading && myHistoryList.length>0">
      <div class="historyList mx-3 ">
        <div
          v-for="i in myHistoryList"
          v-if="search.indexOf(i.stauts)!=-1"
          class="animated slideInUp my-3 card shadow-lg rounded"
        >
          <div class="card-body">
            <div
              class="card mt-2"
              @click="show='register'"
              style=" cursor: pointer;"
            >
              <img :src="i.productInfo.img" class="card-img-top" />
            </div>

            <p></p>
            <h4>
              <b><i class="el-icon-box" aria-hidden="true"></i> 訂單資訊</b>
            </h4>
            <statusCom :status="i.stauts"></statusCom>
            <div :class="i.childrenList?'ml-3':''">
              <div>
                <div>
                  <div v-if="i.stauts == '尚未付款'">
                    <h4 class="mt-4">
                      <b
                        ><i class="el-icon-bank-card" aria-hidden="true"></i>
                        匯款資訊</b
                      >
                    </h4>

                    請輸入帳號後五碼
                    <p></p>
                    <el-input
                      v-model.number="cardLast5Num[i.id]"
                      type="number"
                      clearable
                    ></el-input>
                    <button
                      disabled
                      v-if="cardLast5Num[i.id]==undefined || cardLast5Num[i.id] == ''"
                      class="btn-block btn btn-warning mt-2"
                    >
                      <i class="el-icon-thumb"></i>
                      確定
                    </button>
                    <button
                      v-else
                      @click="cardLast5NumHandler(i.id,cardLast5Num[i.id],i.money, i.name )"
                      class="btn-block btn btn-warning mt-2"
                    >
                      <i class="el-icon-thumb"></i>
                      確定
                    </button>
                  </div>
                  <div v-if="i.stauts == '已付款，核實中'">
                    核實中...
                    <p></p>
                    若有疑問煩請聯絡我們
                  </div>
                  <div v-if="i.stauts == '水果準備中'">
                    已核實，水果準備中...
                    <p></p>
                    若有疑問煩請聯絡我們
                  </div>
                  <div v-if="i.stauts == '出貨摟～'">
                    出貨摟～
                    <p></p>
                    若有疑問煩請聯絡我們
                  </div>
                  <br />
                  <p
                    v-if="i.stauts == '尚未付款'"
                    v-for='text in i.productInfo.bankInfo.split("\\n")'
                  >
                    {{ text }}
                  </p>
                  <hr />
                </div>
                <statusCom
                  v-if="i.childrenList"
                  :status="i.firstStauts"
                ></statusCom>
                <p>訂單時間：{{ i.time }}</p>
                <p>訂單名稱：{{ i.productName }}</p>
                <p>
                  付款金額：<b>{{ i.money }}</b>
                </p>
                <el-divider></el-divider>
                <p>訂單編號：{{ i.id }}</p>
                <p>收件人姓名：{{ i.name }}</p>
                <p>收件人電話：{{ i.phone }}</p>
                <p>收件人住址：{{ i.address }}</p>
                <p>
                  訂單件數：<b>{{ i.count }}</b>
                </p>
                <p>訂單備註：{{ i.note == 'undefined' ? '' : i.note }}</p>
                <div
                  v-if="i.childrenList"
                  v-for="(item , index) in i.childrenList"
                >
                  <el-divider></el-divider>
                  <p>訂單編號：{{ item.id }}</p>
                  <statusCom
                    v-if="item.stauts =='水果準備中' || item.stauts =='出貨摟～'"
                    :status="item.stauts"
                  ></statusCom>
                  <p>收件人{{ index + 2 }} 姓名：{{ item.name }}</p>
                  <p>收件人{{ index + 2 }} 電話：{{ item.phone }}</p>
                  <p>收件人{{ index + 2 }} 住址：{{ item.address }}</p>
                  <p>
                    訂單件數：<b>{{ item.count }}</b>
                  </p>
                  <p>
                    訂單備註：{{ item.note == 'undefined' ? '' : item.note }}
                  </p>
                </div>
              </div>
            </div>

            <hr />
          </div>
        </div>
      </div>
    </div>
    <div v-if="!loading && myHistoryList.length==0">
      <div class="container">
        尚未有訂單
        <button @click="gotoMenu()" class="btn-block btn btn-warning mt-2">
          點擊此處立即訂購
        </button>
      </div>
    </div>
  </div>
</div>
